.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

/* make the arrows of the carousel black */
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
  /* move the arrow outside the carousel slider */
  margin: -20%;
}

.carousel {
  max-width: 400px;
  margin: auto;
}

.margin-right-except-last :not(:last-child) {
  margin-right: 20px;
}

.sortable {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: url(../img/sort_both.png);
}

.ascending {
  background-image: url(../img/sort_ascBlack.png);
}

.descending {
  background-image: url(../img/sort_descBlack.png);
}

.fb-btn {
  font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 13px 30px 15px 44px;
  background: #3a5a97;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 20, 0.4);
  text-decoration: none;
  line-height: 1;
  position: relative;
  width: 100%;
  outline: none;
}

.connect:before {
  display: inline-block;
  position: relative;
  background-image: url(../img/facebook_logo.png);
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  text-indent: -9999px;
  text-align: center;
  width: 29px;
  line-height: 23px;
  margin: -8px 7px -7px -30px;
  padding: 2 25px 0 0;
  content: 'f';
}

.pointer {
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.w-full {
  width: 100%;
}
